@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --tt-primary-color: #1988cf;
  --tt-secondary-color: #df1b12;
  --tt-red-color: #df1b12;
  --tt-white-color: #ffffff;
  --tt-black-color: #000000;
  --tt-gray-color: #f5f5f5;
  --tt-green-color: #00a65e;
  --tt-yellow-color: #ffcc00;
  --tt-orange-color: #ff5d00;
  --tt-blue-color: #0078ff;
  --tt-dark-blue-color: #004b7f;
  --tt-dark-gray-color: #333333;
}

.leaflet-container {
  width: 600px;
  height: 600px;
}

.leaflet-ruler-marker {
  background-color: var(--tt-black-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1);
}

.loader-spinner {
  border: 8px solid var(--tomtom-gray-color);
  border-top: 8px solid var(--tomtom-red-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 500ms infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
